body {
    background-color: rgb(255, 182, 225);
}


video {
    width: 960px;
    height: 540px;
}


h1 {
    font-family: monospace;
    font-size: 50px;
    color: rgb(94, 14, 114);
    text-align: center;
    animation-name: slideleft;
    animation-duration: 2s;  
}


h2 {
    font-family: cursive;
    font-size: 25px;
    color: rgb(94, 14, 114);
    text-align: left;
}


@keyframes slideleft{
    from{transform: translateX(200%);} /* Have the heading (h2) slide to the left */
}


h3 {
    font-family: monospace;
    font-size: 20px;
    color: rgb(94, 14, 114);
    text-align: end;
}


#box {
    color:rgb(41, 0, 88);
    font-style: monospace;
    text-align: left;
    width: 500px;
    height: 500px;
}


.bio-box {
    width: 300px;
    padding: 20px;
    border: 2px solid #aa0494;
    border-radius: 6px;
}


.image-container img {
    border-radius: 50%; /* Put the photo in a round frame */
}


p {
    color:rgb(41, 0, 88);
    font-style: monospace;
}

footer {
    padding: 20px;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-info p {
    margin: 0;
}

.map-container {
    margin-top: 5px;
}

.contact-form-container {
    margin:10% 10% ;
    padding: 10% 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

textarea {
    display: fixed;

}

#logo {
    width: 10vw;
    height: auto;
}

